@model List<DistrictModel>
<h1>District List</h1>
<a asp-action ="Create">Create New District</a>
<table class="table table-bordered table-striped table">
    <thead>
        <tr>
            <th>S.N</th>
            <th>Code</th>
            <th>Name</th>
            <th>Province</th>
            <th>Country</th>
        </tr>
    </thead>

    <tbody>

        @foreach(var districts in Model)
        {
        <tr>
            <td>S.N</td>
            <td>@districts.Code</td>
            <td>@districts.Name</td>
            <td>@districts.Province.Name</td>
            @* <td>@districts.Province.Country.Name</td> *@
            <td>
                <a asp-action="Edit" asp-route-id="@districts.Id">Edit</a>
                <a asp-action="">View</a>
                <a asp-action="" asp-route-id="@districts.Id">Delete</a>
            </td>
        </tr>
        }
    </tbody>
    <tfoot>

    </tfoot>
</table>